<html>
    <head>
        <title>
        Test
        </title>
        <link rel="stylesheet" type="text/css" href="../css/profileStyl.css"> 
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    </head>
    
    <body>
            <div class="cover">
                <img alt2="pics" src="../images/Zayn-malik%202.jpg">
            </div>

             <div class="profile">
               <div class="Overlay"></div>
                                 {{#each result.[1]}}

                    <div class="img">

                        <img alt="pic" src="{{userdp}}" > 
                    </div>
                 
                    <div class="profileName">
                      <p>  {{username}}</p>
                    </div>

                    <div>
                        <p>
                            Followers : {{follower_count}}
                            {{/each}}
                            
                                <a href="/followPeople" class=" button editbutton">FOLLOW</a>
                                   
                        </p>
                    </div>
                    
            </div>
        
            <div class ="info">
                    <div class="section">
                        <a href="#section" class=" button link ">Timeline</a>
                        <a href="#about" class=" button link">About</a>
                    </div>

                    <div class="photos">
                        <div class="image"><img alt2="pics" src="../images/Zayn-malik%202.jpg"></div>

                        <div class="image"><img alt="pics" src="../images/Zayn-malik.jpg"></div>
                        <div class="image"><img alt="pics" src="../images/Zayn-malik.jpg"></div>
                        <div class="image"><img alt="pics" src="../images/Zayn-malik.jpg"></div>
                        <div class="image"><img alt="pics" src="../images/Zayn-malik.jpg"></div>
                        <div class="image"><img alt="pics" src="../images/Zayn-malik.jpg"></div>
                        
                    </div>



                    <div id="about" >
                        Lives in <b>Mumbai, Maharashtra</b><br>
                        From <b>Dahisar, India</b><br>
                        Relationship Status <b>Single</b><br>
                        Studied Computer Science and Engineering at KJ Somaiya College Of Engineering
                    </div>


            </div>
            
    </body>
</html>