<html>
<head>
    <link rel="stylesheet" href="/../css/post.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <div class="box">
                <form method="post"  enctype="multipart/form-data">
        <div class="info">Create New Post !!</div>
        <textarea rows="6" cols="50">Caption Goes Here !!</textarea>
        <div class="add">
            <img src="../../icons/photo.svg">

    <p> Add file name stored on desktop </p>
         <input type="text" name="path1" value="Add path please"><br>
          <!--  <input type="file" class="file" name="file1" value="ketki1"> abhi ke liye , keeping text box -->
            <p>Add Photos</p>
            <button type="submit">Post</button>
        </div>
    </form>
        </div>
         </div>
        
    <script src="/../javascript/post.js"></script>
</body>
</html>