<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/../css/postopen.css">   
    <title>Post Info</title>
  </head>
  <body style="background-color:black ; margin-left:5% ; margin-bottom:2% ; margin-top:6% ; margin-right:2%">
  <div class="container-fluid">
      <div class="post-box" style="width:55%; height:535px">
	  <img src="back4.jpg"  style="width:100%; height:490px">
	  <div class="btnpost" style="display:inline-block ; width:90% ; height:35px">
	  <button type="button" class="btn btn-dark" style="width:20% ;height:30px ; margin-right:10px ;margin-top:5px; padding:2px">Like</button>
      <button type="button" class="btn btn-dark" style="width:35% ;height:30px ; margin-top:5px ; padding:2px">Comment</button>
	  </div>
	  </div>
      
	      <div class="comment-box" style="width:35%; height:490px">
		  <div class="post-user" style="height:250px;">
		  <img class="img-circle" src="back5.jpg"> 
		  <div class="username"><b>Karan Chandra</b></div>
		  <div class="post-time"><p>10-10-18  10:12 PM</p></div>
		  <div class="numberof">
		  <p><b>200</b>Likes&nbsp &nbsp</p>
		  <p><b>150</b>Comments       </p>
		  </div>
		  <span class="border1"></span>
		  
		  <span class="border"></span>
		 <button type="button" class="btn btn-info" style="margin-top:32%; position:absolute; margin-left:10%; padding-left:15px; padding-right:15px">Like</button>
		 <button type="button" class="btn btn-info" style="margin-top:32%; position:absolute; margin-left:25%; padding-left:15px; padding-right:15px">Comment</button>
		  </div>
		  
		  <div class="comment-section" style="margin-top:10px">
		  
		  </div>
		  </div>
		  
		 
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>